<?xml version="1.0" encoding="utf-8"?>
<launch>

  <!-- load the motion planner -->
  <node name="scara_left_motion_planner" pkg="two_scara_collaboration" type="scara_left_motion_planner" >
  </node>
  <node name="scara_right_motion_planner" pkg="two_scara_collaboration" type="scara_right_motion_planner" >
  </node>

</launch>
